body {
}
table {
  display: flex;
  justify-content: center;
}
tbody {
  padding: 0px 15px;
  border: 2px solid black;
}
tr {
  display: flex;
  flex-direction: row;
}
td.Table {
  width: 155px;
  height: 75px;
  padding: 0px;
}
td.number {
  display: flex;
  align-items: center;
  font-size: 30px;
}
td.number.borderRight {
  border-right: 2px solid black;
}
td.number.borderleft {
  rotate: 180deg;
  border-right: 2px solid black;
}

.black {
  background-color: black;
}
.white {
  background-color: white;
}
.a {
  position: absolute;
  width: 120px;
}
.a > h1 {
  margin-bottom: 37px;
  text-align: end;
}
.b {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  float: right;
  width: auto;
}
.b > h1 {
  text-align: left;

  margin: 19px 0px;
  transform: translateX(-117px);
}
img {
  text-align: center;
  width: 100%;
}
div.headtext {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
div.headtext > h1 {
  margin: 0px 71px;
}

tr.textTop,
tr.textBottom {
  justify-content: center;
  display: flex;
  gap: 11%;
  position: relative;
  margin: 0px 17px;
}
tr.textTop > td {
  rotate: 180deg;
}
tr.textTop {
  border-bottom: 2px solid black;
}
tr.textTop > td,
tr.textBottom > td {
  font-size: 28px;
}
tr.textBottom {
  border-top: 2px solid black;
}
